
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.debug{
  border: 3px solid red;
}

.success{
  border: 3px solid green;
}


@font-face {
  font-family: "Jersey10";
  src: url("./assets/fonts/Jersey_10/Jersey10-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    font-family: "Jersey10", sans-serif;
  }
}

@media (max-width: 1023px) {
    .content-scroll{
       min-height: 92vh !important;
       min-height: 92vh !important;
       overflow-y: auto;
    }}
    

@media (min-width: 1024px) {
  .content-scroll{
     min-height: 92.5vh !important;
     max-height: 92.5vh !important;
     overflow-y: auto;
  }
}

/* proposalcard */





  