
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
}

.debug{
  border: 3px solid red;
}

.success{
  border: 3px solid green;
}

body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

@media (max-width: 1023px) {
    .content-scroll{
       min-height: 92vh !important;
       min-height: 92vh !important;
       overflow-y: auto;
    }}
    

@media (min-width: 1024px) {
  .content-scroll{
     min-height: 92.5vh !important;
     max-height: 92.5vh !important;
     overflow-y: auto;
  }
}

/* proposalcard */





  